

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="card bg-light" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            <div class="mb-4">
              <h2 class="fw-bold mb-2 text-uppercase">Crear nuevo usuario</h2>
              <p class="text-muted mb-4">Por favor, llene el formulario.</p>

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4">
                <div class="mb-4">
                  <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo Electrónico">
                  <div class="text-danger" *ngIf="loginForm?.get('email')?.hasError('required') && loginForm?.get('email')?.touched">
                    El correo electrónico es obligatorio.
                  </div>
                  <div class="text-danger" *ngIf="loginForm?.get('email')?.hasError('email') && loginForm?.get('email')?.touched">
                    Correo electrónico no válido.
                  </div>
                </div>

                <div class="mb-4">
                  <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña">
                  <div class="text-danger" *ngIf="loginForm?.get('password')?.hasError('required') && loginForm?.get('password')?.touched">
                    La contraseña es obligatoria.
                  </div>
                  <div class="text-danger" *ngIf="loginForm?.get('password')?.hasError('minlength') && loginForm?.get('password')?.touched">
                    La contraseña debe tener al menos 8 caracteres.
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                <p *ngIf="errorMessage" class="text-danger mt-2 text-center">{{ errorMessage }}</p>
              </form>
            </div>

            <div>
              <p class="mb-0">¿No tienes una cuenta?</p>
              <a routerLink="/register">Registro</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
