
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8">
        <div class="card bg-light" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">
            <div class="mb-4">
              <h2 class="fw-bold mb-2 text-uppercase">Crear nuevo usuario</h2>
              <p class="text-muted mb-4">Por favor, llena el formulario.</p>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-4">
                      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
                      <div class="text-danger" *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
                        El Username es obligatorio
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('username')?.hasError('minlength') && registerForm.get('username')?.touched">
                        El username es demasiado corto
                      </div>
                    </div>

                    <div class="mb-4">
                      <input type="email" class="form-control" id="email" formControlName="email" placeholder="email">
                      <div class="text-danger" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                        El email es obligatorio
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
                        El formato es incorrecto
                      </div>
                    </div>

                    <div class="mb-4">
                      <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Nombre">
                      <div class="text-danger" *ngIf="registerForm.get('fullName')?.hasError('required') && registerForm.get('fullName')?.touched">
                        El nombre es obligatorio
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('fullName')?.hasError('minlength') && registerForm.get('fullName')?.touched">
                        El nombre es demasiado corto
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-4">
                      <input type="text" class="form-control" id="shippingAddress" formControlName="shippingAddress" placeholder="Direccion de envio">
                      <div class="text-danger" *ngIf="registerForm.get('shippingAddress')?.hasError('required') && registerForm.get('shippingAddress')?.touched">
                        La direccion es obligatoria
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('shippingAddress')?.hasError('minlength') && registerForm.get('shippingAddress')?.touched">
                        La direccion está incompleta
                      </div>
                    </div>

                    <div class="mb-4">
                      <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Telefono">
                      <div class="text-danger" *ngIf="registerForm.get('phoneNumber')?.hasError('required') && registerForm.get('phoneNumber')?.touched">
                        El número de teléfono es obligatorio
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('phoneNumber')?.hasError('maxlength') && registerForm.get('phoneNumber')?.touched">
                        El formato no es correcto
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('phoneNumber')?.hasError('minlength') && registerForm.get('phoneNumber')?.touched">
                        El formato no es correcto
                      </div>
                    </div>

                    <div class="mb-4">
                      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña">
                      <div class="text-danger" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                        La contraseña es obligatoria.
                      </div>
                      <div class="text-danger" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
                        La contraseña debe tener al menos 8 caracteres.
                      </div>
                    </div>
                  </div>
                </div>

                <a routerLink="/login" class="btn btn-link text-decoration-none float-start">
                  <i class="bi bi-arrow-left"></i> Volver al inicio de sesión
                </a>
                <button type="submit" class="btn btn-primary btn-block float-end" [disabled]="registerForm.invalid">Crear Usuario</button>
                <p *ngIf="errorMessage" class="text-danger mt-2 text-center">{{ errorMessage }}</p>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
